<%if(isLoggedIn){%>
    <form action="/logout" method="post">
        <button type="submit" class="dropdown-item nav-link">
            <i class="fa-solid fa-right-from-bracket"></i> Logout</button>
    </form>
<%}%>
