<nav class="navbar px-2 navbar-expand-lg navbar-light shadow-5-strong" id="main-nav">
    <div class="container row">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="navbar-toggler-icon toggle-btn"></i></button>
        <div class="collapse navbar-collapse text-start col-md-3" id="navbarResponsive">
            <ul class="navbar-nav mr-auto my-auto">
                <li class="nav-item"><a class="nav-link" href="/">Shop</a></li>
                <%if(isLoggedIn){%>
                <li class="nav-item"><a class="nav-link" href="/order">Orders</a></li>
                <li class="nav-item"><a class="nav-link" href="/seller/my-products">My Products</a></li>
                <%}%>

            </ul>
        </div>
        <div class="col-md-8 text-center">
            <a class="navbar-brand text-primary mx-auto" href=""><img src="/images/logo.png"
                                                                      height="75" width="75" alt=""></a>
        </div>
        <div class="col-md-1 text-center">
            <ul class="navbar-nav my-auto navbar-right">
                <%if(isLoggedIn){%>
                    <li class="nav-item p-2 fs-5"><a href="/cart" class="nav-link"><i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                <%}%>
                <li class="nav-item p-2 fs-5 dropdown">
                    <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="fa-solid fa-user"> </i></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item p-2"><a class="dropdown-item" href="#">
                                <i class="fa-solid fa-user"></i> Account </a></li>
                        <li class="nav-item p-2"><a class="dropdown-item" href="#">
                                <i class="fa-solid fa-address-book"></i> Address Book </a></li>
                        <li class="nav-item p-2">
                            <%-include('./logout-button.ejs')%>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
