<%-include('../includes/head.ejs')%>
</head>
<body>

<%-include('../includes/navbar.ejs')%>

<div class="container text-center">
    <h1 class="title text-danger">
        404! Not Found
    </h1>
    <p class="caption">Click anywhere to go back!</p>
    <a href="/" class="stretched-link"></a>
</div>
</body>
</html>
