<div class="input-group mb-3">
    <span class="input-group-text primary-color_background">
        <i class="bi bi-key-fill text-white"></i></span>
    <input type="password" class="form-control" name="confirmPassword" placeholder=" confirm password" required>
</div>
