<div class="input-group mb-3">
    <span class="input-group-text primary-color_background">
        <i class="bi bi-envelope text-white"></i>
    </span>
    <input type="email" class="form-control" placeholder="email" name="email" value="<%= oldInput.email %>" required>
</div>
