<div class="input-group mb-3">
    <span class="input-group-text primary-color_background">
        <i class="bi bi-person-plus-fill text-white"></i>
    </span>
    <input type="text" class="form-control" placeholder="name" name="name" value="<%= oldInput.name %>" required>
</div>
