<%-include('./includes/head.ejs')%>
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="text-center">
    <img src="/images/logo.png" height="200" width="200" alt="logo">
</div>
<div class="container text-center mt-5">
    <h1 class="h2 secondary-color_text">Verification Successful</h1>
    <p class="caption">hey <%=name%>! Your verification for the account against: <%=email%> is successful.
        Now you can log in to you your account by clicking <a href="/login">here</a> </p>
</div>
</body>
